# Warehouse PostgreSQL
WAREHOUSE_POSTGRES_USER=change_me   
WAREHOUSE_POSTGRES_PASSWORD=change_me   
WAREHOUSE_POSTGRES_DB=change_me   

# MinIO
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me

MINIO_ENDPOINT=localhost:9000
MINIO_SECURE=false
MINIO_RAW_BUCKET=raw-market-data

# Airflow metadata PostgreSQL
AIRFLOW_POSTGRES_USER=change_me
AIRFLOW_POSTGRES_PASSWORD=change_me
AIRFLOW_POSTGRES_DB=change_me

# Airflow
AIRFLOW_UID=50000